{% extends "base.html" %}

{% block content %}
  <h1>Create a user</h1>
  <form action="/users/new" method="POST">
    <div>First Name
      <input type="text" placeholder="Enter a first name" name="first_name" required>
    </div>
    <div>Last Name
      <input type="text" placeholder="Enter a last name" name="last_name" required>
    </div>
    <div>Image URL
      <input type="url" placeholder="Provide an image url" name="image_url">
    </div>

    <button>Add</button>
  </form>

{% endblock %}
